/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #6a1b9a; /* Fundo roxo */
    color: #fff;
}

/* Cabeçalho */
header {
    background-color: #8e24aa; /* Cabeçalho roxo */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 36px;
}

/* Seção de Promoção */
.promo {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.promo h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.promo-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.promo-info {
    max-width: 500px;
}

.promo-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promo-info p {
    font-size: 18px;
    margin-bottom: 8px;
}

.order-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e24aa; /* Botão roxo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.order-btn:hover {
    background-color: #6a1b9a; /* Cor roxa mais escura no hover */
}

/* Cardápio */
.cardapio {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardapio h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.acompanhamentos {
    display: flex;
    justify-content: space-around;
}

.item {
    text-align: center;
    width: 120px;
}

.acomp-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.item p {
    font-size: 16px;
    margin-top: 10px;
}

/* Botões de WhatsApp e Peça Já */
.buttons {
    text-align: center;
    margin-top: 30px;
}

.whatsapp-btn {
    padding: 15px 30px;
    background-color: #25D366; /* Cor do WhatsApp */
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.whatsapp-btn:hover {
    background-color: #128C7E; /* Cor escura do WhatsApp */
}

.order-btn {
    background-color: #8e24aa;
}

.order-btn:hover {
    background-color: #6a1b9a;
}

/* Localização */
.localizacao {
    text-align: center;
    margin: 30px 0;
}

/* Imagem de Motoboy */
.motoboy {
    text-align: center;
    margin: 30px 0;
}

.motoboy-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 15px;
    background-color: #4a148c; /* Rodapé roxo escuro */
    color: white;
    font-size: 14px;
}
